body{
    background-color: #f5f5dc;
    font-family: 'Trebuchet MS', 
        'Lucida Sans Unicode', 
        'Lucida Grande', 
        'Lucida Sans', 
        Arial, 
        sans-serif;
}

h1{
    text-align: center;
    outline: solid black 2px;
    border-radius: 10px;
    padding: 5px;
}

.navBar ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navBar li {
    display: inline;
    outline: solid black 1px;
    border-radius: 10px;
    overflow: hidden;
    padding: 1px 0px 1px 0px
}
ul li:nth-child(2){
    margin-left: 10px;
}
ul li:last-child {
    margin-left: 10px;
}

.navBar ul li a{
    text-decoration: none;
    padding: 5px 15px;
    color: #000000;
    margin: 0;
}

.navBar ul li a:hover{
    color: #efefc6;
    background-color: #2f2f2f;
}

.columns {
    display: flex;
    justify-content: space-evenly;
    columns: 2;
    border-radius: 10px;
    margin: 20px;
}

h3 {
    text-align: left;
}

.weatherBody {
    outline: solid black 2px;
    border-radius: 10px;
    padding: 0 20px 0 20px;
    margin: 4px 15px 10px 20px;
}

.closetBody {
    
    outline: solid black 2px;
    border-radius: 10px;
    padding: 0 20px 0 20px;
    margin: 4px 20px 10px 15px;
    min-width: 60%
}

.weatherResults {
    margin-top: 3svh;
    display: flex;
    width: auto;
}

.flexForm {
    display: flex;
    flex-wrap: wrap;
}

.flexForm div {
    outline: solid black 1px;
    justify-content: space-evenly;
    border-radius: 10px;
    margin: 5px;
    padding: 5px;
    
}
.weatherResults input {
    background-color: silver;
    width: 11svh;
}

.closetCols {
    margin-right: 15px;
    display: flex;
    columns: 5;
    justify-content: space-evenly;
    align-items: center;
    
}

.closetCol{
    margin-left: 20px;
    padding: 5px 0px 5px 0px;
    border: 1px solid black;
    min-height: 10svh;
    min-width: calc(20% - 15px);
    text-align: center;
}

.colTitle {
    text-decoration: underline;
}

.colItems{
    padding: 5px 0 5px 0;
}


.colItems ul{
    display: block;
    list-style-type: none;
    margin: 0;
    padding: 0; 
}

.colItems li {
    padding: 0 10px 10px 0;
    text-align: center;
    display: list-item;
}

.closetTitle{
    display: flex;
    align-items: center;
}

.closetTitle h3{
    margin-right: 10px;
}
